/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2013, 7:11:32 PM
    Author     : Tushar
*/
html{

}
body {
    text-align: center;
    background-color: rgb(234, 238, 243);
    font-family: "Gill Sans","Gill Sans MT","Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 26px;
}
a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    color:#fff;
    display:block; 
}
img { 
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.6);
    opacity:1;
    max-width:300px;
    filter:alpha(opacity=100);
}
img:hover { 
    opacity:0.5;
    filter:alpha(opacity=50);
}
.wrapper{
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    margin-top: 20pt;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    min-width:800px;
    min-height:800px;
    background-color:#fff;
    border: solid 1px #CCDAE5;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 1px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 1px rgba(0, 0, 0, 0.2);
    overflow:hidden;
}
.head{
    background: #596a72;
    background: -moz-linear-gradient(top,  #596a72 0%, #C2D1DB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#596a72), color-stop(100%,#C2D1DB));
    background: -webkit-linear-gradient(top,  #596a72 0%,#C2D1DB 100%);
    background: -o-linear-gradient(top,  #596a72 0%,#C2D1DB 100%);
    background: -ms-linear-gradient(top,  #596a72 0%,#C2D1DB 100%);
    background: linear-gradient(to bottom,  #596a72 0%,#C2D1DB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#C2D1DB',GradientType=0 );
    padding:8pt;
    text-shadow:1px 1px 2px rgba(0,0,0,0.7);
    font-weight:bold;
    color:#fff;
    font-size:48pt;
}
.text1 {
    margin-top:10pt;
    margin-bottom:10pt;
    color: #0288cc;
    letter-spacing:-1pt;
    font-size:30pt;
    font-weight:bold;
    text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}
.text2 {
    color: #f02f17;
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 8pt;
}
#timer{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #37B15B),
        color-stop(0.62, #53D577)
        );
    background-image: -o-linear-gradient(bottom, #37B15B 0%, #53D577 62%);
    background-image: -moz-linear-gradient(bottom, #37B15B 0%, #53D577 62%);
    background-image: -webkit-linear-gradient(bottom, #37B15B 0%, #53D577 62%);
    background-image: -ms-linear-gradient(bottom, #37B15B 0%, #53D577 62%);
    background-image: linear-gradient(to bottom, #37B15B 0%, #53D577 62%);
    display:inline-block;
    padding:10pt;
    border-radius:6pt;
    color:red;
    font-size:30pt;
}
#seconds {
    display: inline-block;
}
.offers {
    width: 30%;
    display: inline-block;
    height: 100px;
    margin: 10pt;
}
.date{
    color: rgb(204, 204, 204);
    text-align: right;
    font-size: 12pt;
    margin: 14pt;
    margin-top: 14pt;
    margin-right-value: 14pt;
    margin-bottom: 14pt;
    margin-left-value: 14pt;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}