/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2013, 1:12:46 PM
    Author     : Tushar
*/
html{

}
body {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size: 26px;
}
a {
    color: rgb(0, 0, 0);
    font-size: 10pt;
}
.wrapper {
    margin: auto;
    width: 1070px;
    text-align: left;
    height: 630px;
}
.header {
    font-size: 47pt;
    font-weight: normal;
    text-align: center;
}
.under-line {
    background-color: rgb(204, 204, 204);
    height: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bottom {
    color: rgb(153, 153, 153);
    font-size: 12pt;
    background-color: rgb(255, 255, 255);
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
.disclaimer {
    margin: 0 auto;
    width: 975px;
    height: 140px;
    text-align: justify;
    font-size: 8pt;
    color: rgb(0, 0, 0);
    font-family: Arial,Helvetica,sans-serif;
}
.prize {
    margin-top: 30pt;
    float: left;
    position: absolute;
    margin-left: -20pt;
}
.interaction {
    border: 1px solid #DBDBDB;
    border-radius: 4pt 4pt 4pt 4pt;
    float: right;
    left: 0;
    position: relative;
    top: 50px;
    width: 440px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

.panel {
    color: rgb(0, 0, 0);
    font-size: 20pt;
    height: 320px;
    width: 395px;
    margin: auto;
    text-align: center;
}
.question {
    font-size: 24pt;
    font-weight: lighter;
    margin: 40px 0px 30px;
    text-align: center;
}
.panel#question .answer{
    border-radius:30px;
    margin:10px 10px 10px 10px;
    color:#fff;
    width:300px;
    height:50px;
    border:1px solid #0288cc;
    font-size: 30px;
    font-weight: normal;
    background: #68acff;
    background: -moz-linear-gradient(top,  #68acff 0%, #0777ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68acff), color-stop(100%,#0777ef));
    background: -webkit-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: -o-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: -ms-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: linear-gradient(to bottom,  #68acff 0%,#0777ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68acff', endColorstr='#0777ef',GradientType=0 );
}
.panel#question .answer:hover{
    background-color:#fff;
    background-image: url('../images/button-arrow.png');
    text-decoration:underline;
    background-repeat:no-repeat;
    background-position:right;
    border-radius:30px;
    margin:10px 10px 10px 10px;
    color:#0288cc;
    width:300px;
    height:50px;
    border:1px solid #0288cc;
    font-size: 30px;
    font-weight: normal;
}
.panel#number {
    display: none;
}
.panel#number #phoneNumber {
    font-size: 25px;
    margin-top: 5px;
    vertical-align: top;
    width: 258px;
}
#number.panel #operator {
    width: 265px;
    margin-bottom: 10px;
    background: none repeat scroll 0px 0px transparent;
    border: 0px solid rgb(204, 204, 204);
    font-size: 16px;
    padding: 7px 0px 0px 4px;
}
.panel button.continue {
    border-radius:30px;
    margin:10px 10px 10px 10px;
    color:#fff;
    width:300px;
    height:50px;
    border:1px solid #0288cc;
    font-size: 30px;
    font-weight: normal;
    background: #68acff;
    background: -moz-linear-gradient(top,  #68acff 0%, #0777ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68acff), color-stop(100%,#0777ef));
    background: -webkit-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: -o-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: -ms-linear-gradient(top,  #68acff 0%,#0777ef 100%);
    background: linear-gradient(to bottom,  #68acff 0%,#0777ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68acff', endColorstr='#0777ef',GradientType=0 );
}
.panel button.continue.active {
    border-radius:30px;
    margin:10px 10px 10px 10px;
    color:#fff;
    width:300px;
    height:50px;
    border:1px solid #0288cc;
    font-size: 30px;
    font-weight: normal;
    background: #9dd53a;
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a));
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
    cursor:pointer;
}
.panel button.continue:hover {
    background-color:#fff;
    background-image: url('../images/button-arrow.png');
    text-decoration:underline;
    background-repeat:no-repeat;
    background-position:right;
    border-radius:30px;
    margin:10px 10px 10px 10px;
    color:#0288cc;
    width:300px;
    height:50px;
    border:1px solid #0288cc;
    font-size: 30px;
    font-weight: normal;
}

.chance_text  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#pin.panel {
    display: none;
}
#pin.panel .message {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
#pin.panel #uniqPin {
    font-size: 25px;
    margin-top: 5px;
    vertical-align: top;
    width: 60px;
    margin-bottom: 20px;
}